<!-- 
  Filename: footer.ejs
  Student's Name: Justin Amaral
  StudentID: 301230988
  Date: 28-05-2023
-->

<!-- Footer -->
<footer class="footer bg-light px-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-3">About Me</h5>
        <p>I am a software engineering expert who combines technical skills with creativity to deliver exceptional websites and apps.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-3">Skills</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none dark-color">UI/UX Design</a></li>
          <li><a href="#" class="text-decoration-none dark-color">Frontend Development</a></li>
          <li><a href="#" class="text-decoration-none dark-color">Responsive Design</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-3">Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-decoration-none dark-color">Portfolio</a></li>
          <li><a href="/docs/justin-amaral-resume.pdf" target="_blank" class="text-decoration-none dark-color">Resume</a></li>
          <li><a href="https://github.com/iJustinLA" target="_blank" class="text-decoration-none dark-color">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/justin-amaral-891877172?trk=contact-info" target="_blank" class="text-decoration-none dark-color">LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="mb-3">Stay Updated</h5>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Email Address" aria-label="Email address">
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <p class="small">&copy; 2023 Justin Amaral. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>